{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="text-center">Pcs list</h1>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Boitier</th>
                            <th>Alimentation</th>
                            <th>Hdd</th>
                            <th>Ssd</th>
                            <th>Graveur</th>
                            <th>Processeur</th>
                            <th>Carte mere</th>
                            <th>Memoire</th>
                            <th>Radiateur</th>
                            <th>Systeme d'exploitation</th>
                            <th>Carte graphique</th>
                            <th>Ecran</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set count = 1 %}
                        {% for pc in pcs %}
                            <tr>
                                <td>{{ count }}</td>
                                <td>{{ pc.boitier }}</td>
                                <td>{{ pc.alimentation }}</td>
                                <td>{{ pc.hdd }}</td>
                                <td>{{ pc.ssd }}</td>
                                <td>{{ pc.graveur }}</td>
                                <td>{{ pc.processeur }}</td>
                                <td>{{ pc.carteMere }}</td>
                                <td>{{ pc.memoire }}</td>
                                <td>{{ pc.radiateur }}</td>
                                <td>{{ pc.systemeExploitation }}</td>
                                <td>{{ pc.carteGraphique }}</td>
                                <td>{{ pc.ecran }}</td>
                                <td>{{ pc.prix }}</td>
                            </tr>
                            {% set count = count + 1 %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
