{% extends 'base.html.twig' %}
{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="text-center">Materiel creation</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create"/>
                {{ form_end(form) }}

                <ul>
                    <li>
                        <a href="{{ path('materiel_index') }}">Back to the list</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{parent()}}

  <script>
    // Afficher le champ autre quand on sélectionne "Autre" dans type matériel (le cache dans les autres cas)
    $('#appbundle_materiel_autre').parent().hide();
    $('#appbundle_materiel_type').change(function(evt){
      var materielType = evt.currentTarget.value;
      if(materielType == 'AUTRE'){
        $('#appbundle_materiel_autre').parent().show();
      }else{
        $('#appbundle_materiel_autre').parent().hide();
      }
    });
  </script>

{% endblock %}
